.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header path,
.App-header polygon {
  fill: white;
}

.App-header svg {
  height: 55px;
  width: 222px;
}

.App-header svg path:first-of-type {
  pointer-events: none;
  animation-play-state: running;
  animation-name: App-logo-spin;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(2deg);
  }
}

